html, body, #root, .app-container {
  min-height: 100vh;
}

.app-container {
  background-color: #F0F8FF;
  /* padding-top: 100px; */
  display: flex;
  justify-content: center;
}

.todo-app-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  min-width: 350px;
}

.todo-app-box-width {
  width: 33%;
}

@media screen and (max-width: 768px) {
  .todo-app-box-width {
    width: 95%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .todo-app-box-width {
    width: 50%;
  }
}

.pointer-hover {
  cursor: pointer;
}

.app-icon {
  height: 30px;
  margin: 40px auto;
}

.add-button-container {
  display: flex;
  justify-content: center;
  color: #1976d2;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 20px;
}