html, body, #root, .app-container {
  min-height: 100vh;
}

.app-container {
  background-color: #F0F8FF;
  /* padding-top: 100px; */
  display: flex;
  justify-content: center;
}

.pointer-hover {
  cursor: pointer;
}